:root{
    --font-size: 1vw;
    --color-red: #bd114c;
    --color-yellow: #ffb03a;
}


html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: calc(var(--font-size)+ 14px);
    line-height: 1.4;
}

h1, 
h2, 
h3 {
    color: var(--color-red);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: calc(var(--font-size) * 4);
    background-image: linear-gradient(60deg, var(--color-red), var(--color-yellow));
    background-clip: text;
    color: transparent;
}

h2 {
    font-size: calc(var(--font-size) + 32px);
}

h3 {
    font-size: 1.5rem;
}

nav {
  background-image: linear-gradient(rgb(217, 120, 236),rgb(252, 197, 206));
}

nav ul::before {
  content: "\1f34d";
  font-size: 5rem;
}

nav ul {
  padding-left: 0;
  width: calc(60% + 30px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0 auto;
}

h2::before {
  content: "\1f34d";
  font-size: 3rem;
}

h3::before {
  content: "\1f34d";
  font-size: 2.5rem;
}

.signif-design li {
  list-style-type: "\1f34d";
  text-indent: .5rem;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(80% - 40px);
  margin: 0 auto;
}

main {
  width: calc(60% - 40px);
  margin: 0 auto;
}

img {
  max-width: 95%;
}

footer {
  font-size: 18px;
  line-height: 1.1;
}

.site-intro {
  font-size: 1.5rem;
  line-height: 1.6;
  color: blueviolet;
}

nav a {
  text-decoration: none;
  color: darkblue;
  font-weight: bold; 
  margin-right: 15px;
}

nav a:link {
  color: darkblue;
}

nav a:visited {
  color: purple;
}

nav a:hover {
  color: orange;
  text-decoration: underline;
}

nav a:active {
  color: red;
}

nav a:focus {
  outline: 2px solid orange;
}