html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    line-height: 1.2;
    color: #7a7a73;
}

h1, 
h2, 
h3 {
    color: #288005 ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: underline dotted rgb(243, 160, 5);
    text-underline-offset: 12px;
}

h1{
    font-size: 2.25rem;
    text-align: center;
}

h2{
    font-size: 2rem;
    text-decoration: none;
}

h2::after
h2::before {
    content: "\1F384 "; 
}

h3{
    font-size: 1.5rem;
}

.site-intro {
  font-size: 1.3rem;
  line-height: 1.6;
  color: blueviolet;
}

nav li {
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}

nav,
header {
  text-align: center;
}

nav a,
.assignments a,
footer a {
  text-decoration: none;
  color: rgb(68, 105, 4);
}

nav a:link,
nav a:visited {
  line-height: 1.5;
}

nav a:hover,
nav a:active {
  text-decoration: underline wavy rgb(204, 178, 29) 2px;
  text-underline-offset: 6px;
  color: rgb(14, 51, 105);
}

nav a:active {
  color: rgb(161, 67, 67);
}

nav a:hover::before {
    content: "\1F384 ";  
}

header p {
    font-size: 80%;
}

nav a:focus {
  outline: 2px solid orange;
}

.assignments li {
  list-style-type: none;
}

.assignments li::before {
  content: "\1F384 ";
  font-size: 1.6rem;
}

.assignments a:link,
.assignments a:visited {
  line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
  text-decoration: underline double rgba(49, 97, 170, .5) 2px;
  text-underline-offset: 4px;
}