/* 
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
*/    

html {

  box-sizing : border-box ;
  font-family: "Roboto", sans-serif;
  font-size: 1.20rem;
  line-height: 125%;
  color: 50504F;
 }

* ,
* ::before
* ::after {
  box-sizing : inherit ;
}
nav {
  background-color: rgb(123, 144, 236);
  text-align: center;
}

nav li {
  display: inline;
}

nav a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav a:link,
nav a:visited{
  text-decoration: none;
}

nav a:hover,
nav a:active{
  background-color: rgb(167, 233, 241);
  color: darksalmon;
  text-decoration: underline;

}


main {
  width: 80%;
  margin: 0 auto;
}

h1,
h2,
h3{
  font-family: 'croissant one',cursive;
}

h1 {
  font-size: 3rem;
  margin: 6% 0;
  text-align: center;
  text-shadow: 3px 5px 3px #ccc;
}
 
img {
  float: left;
  max-width: 30%;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 50%;
  box-shadow: 5px 5px 3px #ccc;
  shape-outside: circle(50%);
}

header h2 {
  margin-top: 3%;
}

.rate {
  clear: both;
  margin-top: 6%;
  text-align: center;
  font-size: 1.5rem;
}

.emoji::after {
    content: "\1F370";
}

.Details,
.Ingredients,
.Instructions,
.Nutrition {
  width: 40%;
  float: left;
}

.details,
.Instructions {
    margin-right: 16%;
    margin-bottom: 2%;
}

blockquote {
  clear: both;
  width: 350px;
  height: 280px;
  padding: 120px 15px 0 18px;
  border-radius: 50%;
  background-color: rgb(215, 240, 241);
  outline: dotted 6px rgb(83, 148, 153);
  outline-offset: 10px;
  font-family:'croissant one',cursive; 
  font-size: 1rem;
  margin: 40px auto;
}

blockquote small {
  text-align: right;

}
 
footer {
  background-color: rgb(163, 177, 240);
  color: black;
  padding: 2% 0;
  margin-top: 10px;
}

footer a {
  display: block;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

footer ul {
  list-style-type: none;
}

.col1,
.col2,
.col3 {
   display: block;
   float: left;
   width: 30%;
}

footer p {
  clear: both;
}
